<div class="container">
<form method="POST" action="/newpost">
  <fieldset>
    <legend>New Post</legend>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Name example</label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="Samsung Galaxy S9">
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Name of the Product</label>
      <input name="productName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
      <small id="emailHelp" class="form-text text-muted">it will be shown publicly</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Manufacturer name</label>
      <input name="manuName" type="text" class="form-control" id="exampleInputPassword1" placeholder="company">
    </div>

    <div class="form-group">
      <label class="control-label">Price</label>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input name="price" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>
    </div>

    {{!-- <div class="form-group">
      <label for="exampleInputPassword2">Price</label>
      <input name="price" type="text" class="form-control" id="exampleInputPassword2" placeholder="Price in USD">
    </div> --}}


    <div class="form-group">
      <label for="exampleSelect1">Rate</label>
      <select class="form-control" id="exampleSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Description</label>
      <textarea name="description" class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
      <label class="custom-control-label" for="customSwitch1">Available</label>
    </div>
    <div class="form-group">
      <div class="input-group mb-3">
        <label class="col-md-4"><h4>Picture</h4></label>
        <div class="custom-file">
          <input name="pic" type="file" class="custom-file-input" id="inputGroupFile02">
          <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
        </div>
      </div>
    </div>
  </div>
    <button style="width:100%;margin-bottom:100px" type="submit" class="btn btn-outline-success">Submit</button>
  </fieldset>
</form>
</div>