<div class="contianer">
    <div class="jumbotron">
    <h1 class="display-3">{{product.title}}</h1>
    <p class="lead">This is the product page for {{product.id}}</p>
    <hr class="my-4">
    <p>{{product.desc}}</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Buy</a>
    </p>
  </div>
</div>